<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Quản trị</title>

  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link th:href="@{/admin1/assets/css/styles.css}" rel="stylesheet" />

  <script th:src="@{/admin1/assets/js/datatables-simple-demo.js}"></script>
  <script th:src="@{/admin1/assets/js/scripts.js}"></script>
  <script th:src="@{/admin1/assets/js/JQuery3.3.1.js}"></script>
  <script th:src="@{/user/assets/js/jquery.min.js}"></script>
  <script th:src="@{/user/assets/js/bootstrap.bundle.min.js}" />"></script>
  <script th:src="@{/user/assets/js/isotope.pkgd.min.js}"></script>
  <script th:src="@{/user/assets/js/stickyfill.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.fancybox.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.easing.1.3.js}"></script>
  <script th:src="@{/user/assets/js/jquery.waypoints.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.animateNumber.min.js}"></script>
  <script th:src="@{/user/assets/js/owl.carousel.min.js}"></script>
  <script th:src="@{/user/assets/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/user/assets/js/custom.js}"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <nav th:fragment="html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" th:href="@{/admin/home}">QUẢN TRỊ</a>
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
              class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
  
      </form>
      <!-- Navbar-->
          <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
              <li class="nav-item dropdown">
                <a sec:authorize="isAuthenticated()" class="nav-link dropdown-toggle" th:href="@{/logout}" role="button" ><i class="fas fa-user fa-fw"></i><span> Logout</span></a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Activity Log</a></li>
                      <li>
                          <hr class="dropdown-divider" />
                      </li>
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
              </li>
          </ul>
  </nav>
  </nav>

  <div th:if="${addDonationSuccess}" class="toast" data-delay="2000"
       style="position:fixed;top: 100PX; right: 10PX;z-index: 2000;width: 300px">
    <script>
      swal({
        title: 'Add Donation Successfully!',
        /* text: 'Redirecting...', */
        icon: 'success',
        timer: 3000,
        buttons: true,
        type: 'success'
      })
    </script>
  </div>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <div th:fragment="html_menu" >
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
			<div class="nav">
				<a class="nav-link" th:href="@{/admin/account}">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Quản lý người dùng
				</a>
				<a class="nav-link" th:href="@{/admin/donation}">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Quản lý đợt quyên góp
				</a>
				<a class="nav-link" th:href="@{/admin/userdonate}">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div>
					Quản lý người ủng hộ tiền
				</a>
			</div>
          </div>

      </nav>
  </div>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách những người đóng góp</h1>
        <div class="card mb-4">
          <div class="card-header">

          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
              <tr style="background-color: gray !important;">
				<th>Id</th>
                <th>Tên</th>
                <th>Tiền</th>
                <th>Ngày bắt đầu</th>
                <th>Nội Dung</th>
                <th>Trạng thái</th>
                <th style="width: 220px ">Hành động</th>
              </tr>
              </thead>

              <tfoot>
              <tr>
              </tr>
              </tfoot>

              <tbody>
              <th:block th:each="userdonate : ${userdonations}">
                <tr>
				  <td th:text="${userdonate.id}"></td>
                  <td th:text="${userdonate.name}"></td>
                  <td th:text="${userdonate.money} + ' VND'"></td>
                  <td th:text="${userdonate.date}"></td>
                  <td th:text="${userdonate.messageContent}"></td>
                  <td th:if="${userdonate.status==0}">Chưa xác nhận</td>
                  <td th:if="${userdonate.status==1}">Đã xác nhận</td>
                  <td style="">
      
                    <form th:if="${userdonate.status==0}" th:action="@{/admin/statusToUserdonate}" method="post">
                      <input type="hidden" class="form-control" name="userdonationId" th:value="${userdonate.id}">
                      <button type="submit" style="width: 130px" class="btn btn-success" >
                        Xác nhận
                      </button>
                    </form>


                  </td>
                </tr>

                <!-- Model Update -->
                <div class="modal fade" th:id="'exampleModal'+${userdonate.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Cập nhật</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form th:action="@{/admin/updateDonation}" method="post">
                          <input type="hidden" name="userdonateId" th:value="${userdonate.id}" required>
                          <input type="hidden" name="status" th:value="${userdonate.status}" required>
                          <div class="row">

                            <div class="col-6">
                              <label for="name2"
                                     class="col-form-label">Tên đợt quyên góp:</label>
                              <input type="text" class="form-control"
                                     id="name2" name="name" th:value="${userdonate.name}" required>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <label for="startDate2"
                                     class="col-form-label">Ngày bắt đầu:</label>
                              <input type="date" class="form-control"
                                     id="startDate2" name="startDate"th:value="${userdonate.date}" required>
                            </div>
                          </div>
                          <div class="row">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>

  </div>
</div>

</body>

</html>