<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
  <head th:fragment="header">
	  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Quản trị</title>\

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/admin1/assets/css/styles.css}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link th:href="@{/admin1/assets/css/styles.css}" rel="stylesheet" />

  <script th:src="@{/admin1/assets/js/datatables-simple-demo.js}"></script>
  <script th:src="@{/admin1/assets/js/scripts.js}"></script>
  <script th:src="@{/admin1/assets/js/JQuery3.3.1.js}"></script>
  <script th:src="@{/user/assets/js/jquery.min.js}"></script>
  <script th:src="@{/user/assets/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/user/assets/js/isotope.pkgd.min.js}"></script>
  <script th:src="@{/user/assets/js/stickyfill.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.fancybox.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.easing.1.3.js}"></script>
  <script th:src="@{/user/assets/js/jquery.waypoints.min.js}"></script>
  <script th:src="@{/user/assets/js/jquery.animateNumber.min.js}"></script>
  <script th:src="@{/user/assets/js/owl.carousel.min.js}"></script>
  <script th:src="@{/user/assets/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/user/assets/js/custom.js}"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

  </head>

</html>
